{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block content %}

<div class="o-b-bg2">
    <div class="col-lg-8 mx-auto p-4 py-md-5 summary-border">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">About To-Do</span>
            </a>
        </header>

        <main>
            <h1 class="text-body-emphasis txt-main-color">Why I Created This To-Do Web Tool</h1>
            <p class="fs-5 col-md-8">As I delved into the realms of CSS, HTML, and Python, the journey was filled with
                opportunities
                to infuse my projects with a touch of uniqueness. Ever wondered how to imbue your creations with a distinct
                personality? The answer lies in carefully crafted color schemes that not only catch the eye but harmonize
                seamlessly.</p>

            <div class="mb-5">
                <a href="https://github.com/Orangeliquid" class="btn btn-primary btn-lg px-4">GitHub Profile</a>
            </div>

            <hr class="col-3 col-md-2 mb-5 txt-main-color">

            <div class="row g-5">
                <div class="col-md-6">
                    <h2 class="text-body-emphasis txt-main rounded-custom txt-main-color">Pinned Projects</h2>
                    <p>Explore some of my proudest projects! These are the select few I have pinned to my GitHub.</p>
                    <ul class="list-unstyled ps-0">
                        <li>
                            <a class="icon-link mb-1 a-tag"
                               href="https://github.com/Orangeliquid/Spotify-Playlist-Time-Machine"
                               rel="noopener" target="_blank">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#arrow-right-circle"></use>
                                </svg>
                                Spotify-Playlist-Time-Machine
                            </a>
                        </li>
                        <li>
                            <a class="icon-link mb-1 a-tag" href="https://github.com/Orangeliquid/Public-API-Playground"
                               rel="noopener" target="_blank">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#arrow-right-circle"></use>
                                </svg>
                                Public-API-Playground
                            </a>
                        </li>
                        <li>
                            <a class="icon-link mb-1 a-tag" href="https://github.com/Orangeliquid/Typing-Speed-Test"
                               rel="noopener"
                               target="_blank">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#arrow-right-circle"></use>
                                </svg>
                                Typing-Speed-Test

                            </a>
                        </li>
                        <li>
                            <a class="icon-link mb-1 a-tag" href="https://github.com/Orangeliquid/Watermark-Application"
                               rel="noopener" target="_blank">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#arrow-right-circle"></use>
                                </svg>
                                Watermark-Application
                            </a>
                        </li>
                        <li>
                            <a class="icon-link mb-1 a-tag" href="https://github.com/Orangeliquid/Habit-Tracker"
                               rel="noopener" target="_blank">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#arrow-right-circle"></use>
                                </svg>
                                Habit-Tracker
                            </a>
                        </li>
                        <li>
                            <a class="icon-link mb-1 a-tag" href="https://github.com/Orangeliquid/PDF-Alchemy"
                               rel="noopener" target="_blank">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#arrow-right-circle"></use>
                                </svg>
                                PDF-Alchemy
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h2 class="text-body-emphasis round-custom txt-main txt-main-color">Older Projects</h2>
                    <p>Take a look at where I started! These are some of my oldest projects!</p>
                    <ul class="list-unstyled ps-0">
                        <li>
                            <a class="icon-link mb-1 a-tag"
                               href="https://github.com/Orangeliquid/Cookie-Clicker-Automation">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#arrow-right-circle"></use>
                                </svg>
                                Cookie-Clicker-Automation
                            </a>
                        </li>
                        <li>
                            <a class="icon-link mb-1 a-tag"
                               href="https://github.com/Orangeliquid/Amazon-Item-Price-Tracker">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#arrow-right-circle"></use>
                                </svg>
                                Amazon-Item-Price-Tracker
                            </a>
                        </li>
                        <li>
                            <a class="icon-link mb-1 a-tag"
                               href="https://github.com/Orangeliquid/Workout-Tracker-on-Google-Sheets">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#arrow-right-circle"></use>
                                </svg>
                                Workout-Tracker-on-Google-Sheets
                            </a>
                        </li>
                        <li>
                            <a class="icon-link mb-1 a-tag"
                               href="https://github.com/Orangeliquid/Pokemon-Information-Search">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#arrow-right-circle"></use>
                                </svg>
                                Pokemon-Information-Search
                            </a>
                        </li>
                        <li>
                            <a class="icon-link mb-1 a-tag" href="https://github.com/Orangeliquid/Tic-Tac-Toe">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#arrow-right-circle"></use>
                                </svg>
                                Tic-Tac-Toe
                            </a>
                        </li>
                        <li>
                            <a class="icon-link mb-1 a-tag" href="https://github.com/Orangeliquid/Morse-Code-Application">
                                <svg class="bi" width="16" height="16">
                                    <use xlink:href="#arrow-right-circle"></use>
                                </svg>
                                Morse-Code-Application
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
