<div class="container-fluid bg-dark">
    <footer class="py-1 my-1">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
        <div class="text-center">
            <a href="{{ url_for('home') }}" class="footer-match button-color">Home</a>
            <span class="mx-2 footer-match">|</span>
            <a href="{{ url_for('about') }}" class="footer-match button-color">About</a>
            <p class="text-center footer-match copyright button-color">© 2024 Orangeliquid
                <a href="https://github.com/Orangeliquid">
                    <img src="static/icons/orange_alien.ico" alt="Bootstrap" width="42" height="42"
                         class="rounded-circle border border-theme me-3">
                </a>
            </p>
        </div>
    </footer>
</div>
